blinker==1.3
certifi==2018.10.15
chardet==3.0.4
Click==7.0
coverage==4.5.2
Flask==0.10.1
Flask-Cors==3.0.6
flask-paginate==0.5.1
Flask-Restless==0.17.0
Flask-SQLAlchemy==1.0
Flask-WhooshAlchemy==0.8
Flask-WTF==0.14.2
get==1.0.3
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mimerender==0.6.0
pbr==3.1.1
post==1.0.2
psycopg2==2.7.5
public==2.0.1
python-dateutil==2.7.5
python-mimeparse==1.6.0
query-string==1.0.2
request==1.0.2
requests==2.20.1
six==1.11.0
SQLAlchemy==1.1.13
urllib3==1.24.1
Werkzeug==0.14.1
Whoosh==2.6.0
WTForms==2.2.1
gunicorn==19.7.1