certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Cors==3.0.6
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.3.2
get==1.0.3
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mimerender==0.6.0
post==1.0.2
psycopg2==2.7.5
public==2.0.1
python-dateutil==2.7.5
python-mimeparse==1.6.0
query-string==1.0.2
request==1.0.2
requests==2.20.1
six==1.11.0
SQLAlchemy==1.2.13
urllib3==1.24.1
Werkzeug==0.14.1
