<!DOCTYPE html>
<html lang="en">
<head>
  <title>Team Alpha</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit = no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link href = "carousel.css" rel
</head>
<style>
  th, td {
    width: 20%;
  }
</style>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="#">
    <img src="../static/images/logo.png" alt="logo" width="80px">
    <span class="font-weight-bold">Sports Annotated</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item pr-2">
        <a class="nav-link" href="{{url_for('teams')}}">Teams</a>
      </li>
      <li class="nav-item pr-2">
        <a class="nav-link" href="{{url_for('weeks')}}">Match History</a>
      </li>
      <li class="nav-item pr-2">
        <a class="nav-link" href="{{url_for('players')}}">Players</a>
      </li>
	  <li class="nav-item pr-2">
        <a class="nav-link" href="{{url_for('about')}}">About</a>
      </li>
    </ul>
  </div>  
</nav>

<br>
<!--
<div class="container">
  <div data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-bottom">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>  
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link border-right" href="#section1">Quarterback</a>
        </li>

      </ul>
      </div>
    </nav>
  </div>
-->

  <div class="row bg-light">
    <div class="col-sm-3">
      <image class="img-fluid" src="../static/images/footballOnField.jpg" alt="placeholder image" width="500px">
    </div>
    <div class="col-sm-9">
      <h1 class="text-center">Team Alpha</h1>
    </div>
	<br>
  </div>
  <br>
 <div class ="container marketing">
	<div class = "row">
		<div class="col-lg-4">
			<img class = "rounded-circle" src="../static/images/jerry.jpg" alt = "jerry" width="150" height="120" style="transform:rotate(270deg)">
			<br></br>
			<h2> Jerry Han</h2>
			<p> Jerry Han. I am a Math Major. Responsibility include: trying to be useful.
				I have 5 commits, 5 issues, and 3 unit test.
			</p>
		</div>
	</div>
  </div>

</body>
</html>