<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sports (football for now)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <style>
  body {
      position: relative;
  }
  ul.nav-pills {
      top: 20px;
      position: fixed;
  }
  div.col-8 div {
      height: 500px;
  }
  </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">
<div class="container-fluid">
  <div class ="text-center"><h1>The weeks of NFL games played</h1></div>
  <div class="row">
    <ul class="nav nav-tabs" id="myScrollspy">
		<li class="nav-items">
			<a class="nav-link" href="#Week One">Week One</a>
		</li>
		<li class="nav-items">
			<a class="nav-link" href="#Week Two">Week Two</a>
		</li>
		<li class="nav-items">
			<a class="nav-link" href="#Week Three">Week Three</a>
		</li>
    </nav>
  </div>
  <div class="row">
    <div class="col-sm-9 col-8">
      <div id="Week One">    
        <h3>Week One</h3>
		<table class="table table-sm table dark">
			<thead>
      </div>
      <div id="Week Two" > 
        <h3>Week Two</h3>
      </div>        
      <div id="Week Three">         
        <h3>Week Three</h3>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
