<!--TO DO: LINK TEAM AND LAST GAME TO PAGES -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nfl Team</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<style>
  th, td {
    width: 20%;
  }
</style>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="{{url_for('splash')}}">
    <img src="../static/images/logo.png" alt="logo" width="80px">
    <span class="font-weight-bold">Sports Annotated</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item pr-2">
        <a class="nav-link" href="{{url_for('teams')}}">Teams</a>
      </li>
      <li class="nav-item pr-2">
        <a class="nav-link" href="{{url_for('weeks')}}">Match History</a>
      </li>
      <li class="nav-item pr-2">
        <a class="nav-link" href="{{url_for('players')}}">Players</a>
      </li>
      <li class="nav-item pr-2">
        <a class="nav-link" href="{{url_for('about')}}">About</a>
      </li>
    </ul>
	<a class="navbar-brand"></a>
	<form class="form-inline" method="GET" action="search">
		<div class="form-group">
			<label for="query"></label>
			<input type = "text" class="form-control" name="query" id="query">
		<button type="submit" class="btn btn-primary">Search</button>
		</div>
	</form>
  </div>  
</nav>
<br>
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">{{team.team}}</h1>
    </div><br><br>
  </div>

  <div class="row">
    <div class="col-sm-6 mt-2  justify-content-md-center">
      <image class="img-fluid" src="{{"../static/images/" + team.stadium_init + ".jpg" }}"" alt = "Team Stadium" width="500px">
    </div>
    <div class="col-sm-5 ml-2 mt-2 bg-light">
      <table class="table" width="100%">
        <tr>
          <th class="border border-top-0 border-right-1 border-left-0 border-bottom-1">City</th>
          <td class="border border-top-0 border-right-0 border-left-0 border-bottom-1">{{team.city}}</td>
        <tr>
          <th class="border border-top-0 border-right-1 border-left-0 border-bottom-1">Stadium</th>
          <td>{{team.stadium_name}}</td>
        </tr>
        <tr>
          <th class="border border-top-0 border-right-1 border-left-0 border-bottom-1">Stadium Location</th>
          <td>{{team.city}}</td>
        </tr>
        <tr>
          <th class="border border-top-0 border-right-1 border-left-0 border-bottom-1">Games played</th>
          <td>{{team.games_played}}</td>
        </tr>
        <tr>
          <th class="border border-top-0 border-right-1 border-left-0 border-bottom-1">Last Game</th>
          <td><a href="{{url_for('game',team_name = team.team)}}" style="text-decoration:none; color:black">LINK</a></td>
        </tr>
        <tr>
          <th class="border border-top-0 border-right-1 border-left-0 border-bottom-0">QB</th>
          <td><a href="{{url_for('brady',player_id = qb.id)}}" style="text-decoration:none; color:black">{{qb.name}}</a></td>
        </tr>
      </table>
    </div>
  </div> <br>
</div>

</body>
</html>
